@inherits LayoutComponentBase

<PageTitle>Munkafelvevő Kliens</PageTitle>


<div class="page">
    <main>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Munkafelvevő kliens</a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
